section {
  width: calc(100dvw - 126px);
}

.image-grid {
  column-count: 1;
  column-gap: 10px;
  width: 100%;
}

.image-card {
  margin: 0;
}

.image-card img {
  width: 100%;
  border-radius: 15px;
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .image-grid {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .image-grid {
    column-count: 3;
  }
}

@media (min-width: 1500px) {
  .image-grid {
    column-count: 4;
  }
}