.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22252e;
  color: white;
  font-family: sans-serif;
  animation: fadeIn 1s ease-in-out;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #fff;
  border-top: 8px solid #ffae00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

/* HERO START */

.hero-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-left: 88px;
  width: calc(100dvw - 126px);
  height: calc(100dvh - 140px);
  margin-left: 63px;
  margin-right: 63px;
  color: var(--secondary-text-color);
}

.hero-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100dvw - 126px);
  height: calc(100dvh - 140px);
  border-radius: 50px;
  object-fit: cover;
  filter: brightness(0.7) contrast(1.2);
  z-index: -1;
}

.hero-content {
  width: 50%;
}

.cutout {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.stats-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 38px;
  padding: 35px 40px;
  padding-bottom: 25px;
  width: fit-content;
  border-top-left-radius: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.stat-count {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  margin-top: 7px;
  text-align: center;
}

.inward-curve {
  fill: var(--background-color);
}

.curve-top {
  position: absolute;
  top: -49.5px;
  right: -0.5px;
}

.curve-left {
  position: absolute;
  bottom: -0.5px;
  left: -49.5px;
}

/* HERO END */
/* GUBENUR & WAKIL START */

.gubernur-container {
  margin-top: 120px;
  width: calc(100dvw - 126px);
  display: grid;
  /* gap: 50px; */
  grid-template-columns: 400px 1fr 1fr 400px;
  margin-left: 63px;
  margin-right: 63px;
}

.gub-img-container,
.wagub-img-container {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gub-img-container img,
.wagub-img-container img {
  width: 90%;
}

.gub-img-container {
  padding-right: 15px;
  justify-content: end;
}

.wagub-img-container {
  padding-left: 15px;
  justify-content: start;
}

.text-highlight {
  font-weight: 600;
}

.sambutan-wagub-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}

/* GUBERNUR & WAKIL END */
/* VISI MISI START */

.kabinet-container {
  display: flex;
  justify-content: center;
  width: 100%;
  width: calc(100dvw - 126px);
  margin-top: 120px;
  padding-left: 63px;
  padding-right: 63px;
  height: 582px;
}

.kabinet-logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-width: 406px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kabinet-image {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 406px;
  min-height: 582px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(0.7) contrast(1.2);
  z-index: -1;
}

.kabinet-logo {
  width: 268px;
}

.kabinet-name {
  font-size: 36px;
  color: var(--secondary-text-color);
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.visi-misi {
  margin-left: 47px;
}

.vimi {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.visi {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}

.misi-list {
  font-size: 20px;
  font-weight: 400;
}

/* VISI MISI END */
/* DIVISION START */

.division-container {
  height: 400dvh;
  width: calc(100dvw - 126px);
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
}

.division-header {
  top: 25dvh;
  position: sticky;
  height: 420px;
  min-width: 470px !important;
  padding-right: 50px;
  padding-left: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.division-header p {
  margin: 0;
}

.division-header p:first-child {
  font-size: 96px;
  font-weight: bold;
}

.division-header p:last-child {
  font-size: 48px;
  font-weight: medium;
}

.division-list {
  top: 25dvh;
  position: sticky;
  display: inline-flex;
  align-items: center;
  height: 420px;
  padding: 43px 0px 43px 50px;
  background-color: #e3ede9;
  justify-content: flex-end;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 10px 0px 12.8px 0px rgba(0, 0, 0, 0.25) inset;
}

.division-card-container {
  display: flex;
  align-items: center;
}

/* DIVISION END */
/* UKM START */
.ukm-container {
  height: 200dvh;
  width: calc(100dvw - 126px);
  margin-bottom: 150px;
  display: flex;
}

.ukm-header {
  top: 32dvh;
  position: sticky;
  height: 304px;
  min-width: 470px !important;
  padding-left: 63px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.ukm-header p {
  margin: 0;
  font-size: 64px;
  font-weight: medium;
}

.ukm-list {
  top: 32dvh;
  position: sticky;
  display: inline-flex;
  align-items: center;
  height: 304px;
  /* width: calc(100dvw - 501px); */
  padding: 43px 0px 43px 50px;
  background-color: #e3ede9;
  justify-content: flex-start;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 10px 0px 12.8px 0px rgba(0, 0, 0, 0.25) inset;
}

.ukm-card-container {
  display: flex;
  align-items: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
